* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    min-height: 100vh;
}

h1 {
    color: #f4a261;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#welcome-message {
    display: block; 
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

canvas {
    border: 3px solid #f4a261;
    background-color: #444;
    width: 100%;   
    height: auto;  
    max-width: 600px; 
    max-height: 800px; 
}

#score, #level {
    margin: 15px;
    font-size: 1.5em; 
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #f4a261;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e76f51; 
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    #welcome-message {
        font-size: 1.2em; 
    }
    #score, #level {
        font-size: 1.2em; 
    }
    button {
        font-size: 1em;
    }
}
